.bookmark-body{
    width: 299px;
    height: 80px;
    border-radius: 8px;
    background: #FFF;
    padding: 2px 16px 5px 10px;
    margin-top: 20px;

}
.bookmark-body p{
    color: #111;
    font-family: 'cursive';
    font-size: 14px;
    font-style: bold;
    font-weight: 900;
    line-height: 142%;
}
.Bookmarked-Blogs-length{
    color: darkviolet;
    font-family: "Exo 2";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 154%;
    margin-left: 4px;
}